In [1]:
import ffn
prices = ffn.get('2330.TW,2303.TW', start='2010-01-01')
prices

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                2330tw     2303tw
Date
2010-01-04   41.729424   9.028941
2010-01-05   41.472229   9.135164
2010-01-06   41.729424   9.772500
2010-01-07   41.279331   9.772500
2010-01-08   41.150742   9.666277
...                ...        ...
2023-08-14  541.000000  45.000000
2023-08-15  542.000000  45.450001
2023-08-16  542.000000  43.750000
2023-08-17  544.000000  43.599998
2023-08-18  539.000000  43.799999

[3337 rows x 2 columns]